<div class="trn-legend-stats-area">
  <div class="trn-legend-stats-container bg-gray">
    <div class="legend-stats-title">
      <h2>レジェンドステータス</h2>
    </div>
    <% @trn_all_legend_stats.sort_by { |legend_stats| -legend_stats.dig("stats", "kills", "value").to_i }.each do |legend_stats| %>
    <div class="legend-stats-card">
      <div class="legend-stats-card-head">
        <span class="legend-icon">
          <%= legend_image_path(legend_name(legend_stats)) %>
        </span>
        <span class="legend-name">
          <%= I18n.t("legend.#{legend_name(legend_stats)}") %>
        </span>
      </div>
      <div class="legend-stats-card-body">
        <% @trn_legend_stats_name.each do |stats_name| %>
          <div class="legend-stat">
            <span class="name"><%= I18n.t("stats.#{stats_name}") %></span>
            <% if legend_stats.dig("stats", stats_name, "value").present? %>
              <span class="value">
                <%= add_commas_to_number(legend_stats_value(legend_stats, stats_name, "value").floor) %>
              </span>
              <span class="rank">
                <%= add_commas_to_number(legend_stats_value(legend_stats, stats_name, "rank")) %> - Top<%= (@percentage_base - legend_stats_value(legend_stats, stats_name, "percentile")).round(1) %>%
              </span>
              <% else %>
              <span class="value">
                ---
              </span>
              <span class="rank">
                --- - Top ---
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
