<div class="overall-record-area">
  <div class="overall-record-container bg-gray">
    <div class="overall-title">
      <p>総合戦績</p>
    </div>
    <div class="overall-record-stats">
      <% @trn_overall_segment_stats.each do |stat| %>
        <div class="overall-stat">
          <span class="name"><%= stat.capitalize %></span>
          <span class="value"><%= instance_variable_get(:"@trn_overall_#{stat}_value") %></span>
          <span class="rank"><%= instance_variable_get(:"@trn_overall_#{stat}_rank") %> - Top<%= instance_variable_get(:"@trn_overall_#{stat}_percentile") %></span>
        </div>
      <% end %>
      <div class="overall-stat">
        <span class="name">Season<%= @trn_current_season %>キル数</span>
        <span class="value"><%= @trn_currentseason_Kills_value %></span>
        <span class="rank"><%= @trn_currentseason_Kills_rank %> - Top<%= @trn_currentseason_Kills_percentile %>%</span>
      </div>
      <div class="overall-stat">
        <span class="name">Season<%= @trn_current_season %>勝利数</span>
        <span class="value"><%= @trn_currentseason_Wins_value %></span>
        <span class="rank"><%= @trn_currentseason_Wins_rank %> - Top<%= @trn_currentseason_Wins_percentile %>%</span>
      </div>
      <div class="overall-stat">
        <span class="name">1試合での平均キル数</span>
        <span class="value"><%= @overall_kpm %></span>
      </div>
      <div class="overall-stat">
        <span class="name">勝率</span>
        <span class="value"><%= @overall_winrate %></span>
      </div>
    </div>
  </div>
</div>
