<header class="bg-gradient header header-mypage">
  <div class="header-container">
    <%= render "shared/mypage_header_first_line", user: @user, game_account_info: @game_account_info %>
    <hr class="hr-white">
    <div class="header-container-second-line">
      <p>ユーザーの総合戦績を確認することができます。</p>
    </div>
  </div>
</header>
<div class="game-stats-area bg-dark-black">
  <div class="switch-result-button">
    <div class="overall-button button-on">
      <p>総合戦績</p>
    </div>
    <div class="match-record-button ">
      <%= link_to "試合履歴", user_tracker_match_records_path(@user.id) %>
    </div>
  </div>
  <% if @user.email == "guest@example.com" %>
    <%= render "shared/guest_account" %>
  <% elsif @trn_player_stats == "Apilimit" %>
    <%= render "shared/api_rate_limit" %>
  <% elsif @trn_player_stats == "No account" %>
    <%= render "shared/no_game_account_info" %>
  <% else @trn_player_stats.present? %>
    <%= render "overall_stats" %>
    <%= render "legend_stats_card" %>
  <% end %>
</div>
