<header class="bg-primary bg-gradient text-white">
  <div class="container px-4">
    <div class="boxshadow">
    <%= render "shared/breadcrumbs" %>
      <h2 class="container-h2">パスワード再設定</h2>
      <%= form_with model: @user, url: user_password_path, method: :post, local: true do |f| %>
        <div class="devise devise-mb justify-content-between">
          <div class="devise-form">
            <div class="field">
              <%= f.label :email, class: "devise-label" %>
              <% if @user.errors.include?(:email) %>
                <p class="error-messages"><%= @user.errors.full_messages_for(:email).first %></p>
              <% end %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="signup-actions reset-password <%= "devise-error" if @user.errors.include?(:email) %> ">
            <%= f.submit "パスワード再設定メールを送信", class: "btn-dark btn-lg btn btn-border-color-white" %>
          </div>
          <div class="signup-actions-mb">
            <%= f.submit "パスワード再設定メールを送信", class: "btn-dark btn-lg btn btn-border-color-white" %>
          </div>
        </div>
      <% end %>
      <hr class="hr-white">
      <div class="under-forms">
        <p>パスワードが分かる場合は、<%= link_to "こちらからログイン", new_user_session_path, class: "custom-link" %>してください。</p>
        <p>アカウントをお持ちでない場合は、<%= link_to "こちらから新規作成", new_registration_path(resource_name), class: "custom-link" %>してください。</p>
      </div>
    </div>
  </div>
</header>
