<div class="main-field">
  <%= search_form_for @q, url: search_users_path do |f| %>
    <div class="main-form">
      <div class="main-form-left">
        <%= f.label :name_or_game_account_info_gameid_cont, "キーワード" %>
      </div>
      <div class="main-form-right">
        <%= f.search_field :name_or_game_account_info_gameid_cont, placeholder: "ユーザー名・ゲームID",  class: "main-form" %>
      </div>
    </div>
    <div class="main-form my-4">
      <div class="main-form-left">
        <%= f.label :game_account_info_platform_eq, "プラットフォーム" %>
      </div>
      <div class="main-form-right">
        <%= f.select :game_account_info_platform_eq, [["Steam", "steam"], ["Origin", "origin"], ["PlayStation", "psn"], ["Xbox", "xbl"]], {include_blank: '全プラットフォーム'}, class: "main-form" %>
      </div>
    </div>
    <div class="main-form">
      <div class="main-form-left">
        <%= f.label :game_account_info_current_rank_cont, "現在のランク"  %>
      </div>
      <div class="main-form-right">
        <div class="main-form-checkbox">
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Predator", "" %>
            <span>プレデター</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Master", "" %>
            <span>マスター</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Diamond", "" %>
            <span>ダイヤモンド</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Platinum", "" %>
            <span>プラチナ</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Gold", "" %>
            <span>ゴールド</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Silver", "" %>
            <span>シルバー</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Bronze", "" %>
            <span>ブロンズ</span>
          </label>
          <label>
            <%= f.check_box :game_account_info_current_rank_cont_any, { multiple: true }, "Rookie", "" %>
            <span>ルーキー</span>
          </label>
        </div>
      </div>
    </div>
    <div class="main-form-submit my-4">
      <%= f.submit "検索", class: "btn-dark btn-lg btn btn-border-color-white" %>
    </div>
  <% end %>
</div>
