<header class="bg-gradient header header-mypage">
  <div class="header-container">
    <%= render "shared/mypage_header_first_line", user: @user, game_account_info: @game_account_info %>
    <hr class="hr-white">
    <div class="header-container-second-line">
      <p>過去の試合戦績(アクセスした日から最大2カ月前まで)を取得します。また、日付をクリックすることで詳細を確認できます。</p>
    </div>
  </div>
</header>
<div class="game-stats-area bg-dark-black">
  <div class="switch-result-button">
    <div class="overall-button ">
      <%= link_to "総合戦績", user_path(@user.id), class: "" %>
    </div>
    <div class="match-record-button button-on">
      <p>試合履歴</p>
    </div>
  </div>
  <% if @user.id == 1 %>
    <%= render "shared/guest_account" %>
  <% elsif @match_histories == "Apilimit" %>
    <%= render "shared/api_rate_limit" %>
  <% elsif @match_histories == "No account" %>
    <%= render "shared/no_game_account_info" %>
  <% else %>
    <%= render "match_history", matches: @matches %>
  <% end %>
</div>
