<!DOCTYPE html>
<html>
  <head>
    <title>ApexLegendsStatusApp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://kit.fontawesome.com/e04d2b77ae.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_frame_tag "turbo" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="page-top">
    <% if user_signed_in? %>
      <%= render "layouts/login_user_nav" %>
    <% else %>
      <%= render "layouts/no_login_user_nav" %>
    <% end %>
    <%= render "shared/devise_flash_messages" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
